<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Our web-based WOF Game" />
  <meta name="keywords" content="WOF, game"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- <link rel="stylesheet" href="" type="text/css" /> -->
  <title>WOF</title>
</head>

<body>
  <div class="main_container">
    <header>
      <div class="page_title">
        <h1>Wheel of Fortune<h1><br>
        </div>
      </header>
      <div class="view_content">
        <%= yield %>
      </div>
    </div>
    <div class="w3-container w3-black" style = "position:absolute; left: 0; bottom: 0; width: 100%; text-align: left; height: 75px;">
      </p>Created by Petar Petrov and Steven Simpson</p>
    </div>
</body>
